
<%= render @link %>

<div class="panel panel-default">
  <div class="panel-heading">Views</div>

  <table class="table">
    <% @link.views.each do |view| %>
      <%= render view %>
    <% end %>
  </table>

</div>


<%= bar_chart  @data %>
