<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <div class="container">
      <li>
        <ul class=".navbar-text"><a href="/about">About</a></ul>
        <ul class=".navbar-text"><a href="/top100">Top 100</a></ul>
      </li>
    </div>
  <!-- </nav> -->

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
