<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="header">
    <li>
      <ul><a href="/about">About</a></ul>
      <ul><a href="/top100">Top 100</a></ul>
    </li>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
